#summonerForm {
    max-width: 50rem;
    margin: auto;
    display: flex;
}
#summonerForm > .input-group {
    flex: 1 1 auto;
    display: block;
}
#summonerForm > .go-button {
    flex: 0 0 auto;
}